body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Left: Logo */
/* Obviously will be changed at some point*/
.nav-left .nav-image {
  height: 40px;
  cursor: pointer;
}

/* Center: title */
.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  height: 100%;
}

.page-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Right: Links */
.nav-right {
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

.left-container,
.right-container {
  flex: 1;
  color: #2e8b57;
  padding: 20px;
}

.image-container {
  flex: 1;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pic {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
